<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>thumb</string>
	<key>CFBundleGetInfoString</key>
	<string>Thumb</string>
	<key>CFBundleIconFile</key>
	<string>thumb.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.snth.thumb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Thumb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>THMB</string>
	<key>CFBundleVersion</key>
	<string>0.0.1.1576</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
</dict>
</plist>
