body   { margin-right: 12%;
         margin-left:  12%;
         text-align:   justify; }
h1     { text-align:   center;  }
h2     { margin-left:  -9%; }
h3     { margin-left:  -6%; }
h4     { margin-left:  -3%; }
h5     { margin-left:  -0%; }
code   { white-space: nowrap; }
td     { padding: 0.25em; }